[submodule "onlyoffice-chinese-fonts"]
	path = onlyoffice-chinese-fonts
	url = https://github.com/funggtopp/onlyoffice-chinese-fonts.git
[submodule "sdkjs-plugins"]
	path = sdkjs-plugins
	url = https://github.com/ONLYOFFICE/onlyoffice.github.io.git